# Требования для работы приложения Image Processor Pro
PyQt5==5.15.4      # Библиотека для создания GUI
opencv-python==4.5.3.56  # Библиотека компьютерного зрения для обработки изображений
numpy==1.21.2       # Библиотека для численных операций с изображениями